@page
@model LearnHubBO.Pages.Courses.ChapitresModel

@{
    ViewData["Title"] = "Chapitres";
}

<h4>Chapitres du cours : @Model.Cours.TitreCours</h4>
<h4>Formateur : @Model.Cours.Formateur.NomFormateur</h4>
<h4>Catégorie : @Model.Cours.CoursCategorie.NomCoursCategorie</h4>

<p>
    <a asp-page="./CreateChapitre" asp-route-idCours="@Model.Cours.IdCours">Créer Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titre
            </th>
            <th>
                Numero
            </th>
            <th>
                Date de création
            </th>
            <th>
                Date de dernière modification
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Chapitres)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitreChapitre)
                </td>
                <td>
                    Chapitre @Html.DisplayFor(modelItem => item.Ordre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreationChapitre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModificationChapitre)
                </td>
                <td>
                    <a asp-page="./EditChapitre" asp-route-id="@item.IdChapitre">Modifier</a> |
                    <a asp-page="./DetailsChapitre" asp-route-id="@item.IdChapitre">Détails</a> |
                    <a asp-page="./DeleteChapitre" asp-route-id="@item.IdChapitre">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
