@page
@model DetailsChapitreModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chapitre du cours @Model.Cours.TitreCours</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapitre.TitreChapitre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapitre.TitreChapitre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapitre.Ordre)
        </dt>
        <dd class="col-sm-10">
            Chapitre @Html.DisplayFor(model => model.Chapitre.Ordre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapitre.DateCreationChapitre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapitre.DateCreationChapitre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapitre.DateModificationChapitre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapitre.DateModificationChapitre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapitre.Contenu)
        </dt>
        <p>
            <dd class="col-sm-10" style="width: 1000px; background-color: white; border-radius: 10px; border-style: solid; border-width: 2px; border-color: #eeeeee; padding: 20px; overflow-x: auto;">
                    @Html.Raw(Model.Chapitre.Contenu)
            </dd>
        </p>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Chapitre.IdChapitre">Edit</a> |
    <a asp-page="./Chapitres" asp-route-id="@Model.Cours.IdCours">Back to List Chapitres</a>
</div>
