@page
@model DetailsChapitreModel

@{
    ViewData["Title"] = "Details d'un chapitre";
}

<h1>Details d'un chapitre</h1>

<div>
    <h4>Chapitre du cours @Model.Cours.TitreCours</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapitre.TitreChapitre)
        </dd>
        <dt class="col-sm-2">
            Numero du chapitre
        </dt>
        <dd class="col-sm-10">
            Chapitre @Html.DisplayFor(model => model.Chapitre.Ordre)
        </dd>
        <dt class="col-sm-2">
            Date de création
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapitre.DateCreationChapitre)
        </dd>
        <dt class="col-sm-2">
            Date de modification
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapitre.DateModificationChapitre)
        </dd>
        <dt class="col-sm-2">
            Contenu
        </dt>
        <p>
            <dd class="col-sm-10" style="width: 1000px; background-color: white; border-radius: 10px; border-style: solid; border-width: 2px; border-color: #eeeeee; padding: 20px; overflow-x: auto;">
                    @Html.Raw(Model.Chapitre.Contenu)
            </dd>
        </p>
    </dl>
</div>
<div>
    <a asp-page="./EditChapitre" asp-route-id="@Model.Chapitre.IdChapitre">Modifier</a> |
    <a asp-page="./Chapitres" asp-route-id="@Model.Cours.IdCours">Retour à la liste des chapitres</a>
</div>
